<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %level - %logger{15} - [%d{yyyy-MM-dd_HH:mm:ss.SSS}] - %message%n%xException
      </pattern>
    </encoder>
  </appender>

  <logger name="akka" level="WARN"/>
  <logger name="slick.jdbc" level="WARN"/>

  <logger name="no.uio.musit" level="DEBUG"/>

  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>