target
*.iml
*.ipr
*.iws
.idea
out
tags
.*.swp
.*.swo
.*.log
logs/
build
.classpath
.project
.settings
.DS_Store
.cache/
.history/
.lib/
dist/*
target/
dist/
lib_managed/
src_managed/
project/project
.scala_dependencies
.worksheet
*.sc
node_modules/
npm-debug.log
webpack-assets.json
*.orig
postgres-storage/*