.gitkeep
*.iml
*.ipr
*.iws
.*.swp
.*.swo
.*.log
.classpath
.project
.settings
.DS_Store
.scala_dependencies
.worksheet
*.sc
*.orig
npm-debug.log
webpack-assets.json
!postgres-storage/install.sql
.idea
target
build
out
tags
logs/
.cache/
.history/
.lib/
dist/
lib_managed/
src_managed/
project/project/
node_modules/
postgres-storage/*
frontend
buildinfo.properties
docker/dev/secrets.sh