<configuration>

<conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
<encoder>
  <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
</encoder>
</appender>

<logger name="ch.qos.logback" level="ERROR" />
<logger name="logger" level="ERROR" />
  <logger name="slick.jdbc" level="DEBUG" />

<root level="INFO">
<appender-ref ref="STDOUT" />
</root>

        </configuration>