.panelWithBackground {
    background: url(../../../static/spydspiss-bakgrunn.png) no-repeat !important;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #FFF;
}