.picklist {
  .icon {
    width: 1%;
  }
  .label {
    width: 80%;
  }
  .select {
    width: 1%;
  }
  .selectNopadding {
    margin: 0px;
  }
  .actions {
    width: 18%;
    text-align: right;
  }
  .actionList {
    max-width: 400;
    margin: 0 auto 10px;
  }
  .warningAction {
    color: #ff0000;
    font-size: 1.5em;
    padding-left: 0.5em;
  }
  .normalAction {
    color: #00aa00;
    font-size: 1.5em;
    padding-left: 0.5em;
  }
  .infoAction {
    color: #0000aa;
    font-size: 1.5em;
    padding-left: 0.5em;
  }
}
