<html>
    <head>
        <title>Callback</title>
    </head>
    <body>
        Loading ...
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                localStorage.setItem('jwtToken', "<%= token %>");
                window.close();
            });
        </script>
    </body>
</html>