<configuration>

  <conversionRule conversionWord="coloredLevel"
                  converterClass="play.api.libs.logback.ColoredLevel"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        [%d{yyyy-MM-dd HH:mm:ss.SSS}] [management] %coloredLevel - %logger{15} - %message%n%xException
      </pattern>
    </encoder>
  </appender>

  <logger name="play" level="WARN"/>
  <logger name="akka" level="ERROR"/>
  <logger name="slick.jdbc" level="OFF"/>

  <logger name="Application" level="OFF"/>
  <logger name="no.uio.musit" level="OFF"/>
  <logger name="controllers" level="OFF"/>
  <logger name="services" level="OFF"/>
  <logger name="models" level="OFF"/>
  <logger name="repositories" level="OFF"/>

  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>