<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel - %logger{15} - %message%n%xException</pattern>
    </encoder>
  </appender>

  <logger name="ch.qos.logback" level="ERROR"/>
  <logger name="logger" level="ERROR"/>
  <logger name="slick.jdbc" level="WARN"/>

  <logger name="no.uio.musit" level="INFO" />
  <logger name="controllers" level="DEBUG" />
  <logger name="services" level="DEBUG" />
  <logger name="models" level="DEBUG" />
  <logger name="repositories" level="DEBUG" />

  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>