.label {
  /* 210x11mm labels without padding on paper */
  width: 210mm;
  height: 11mm;
  padding: 0;
  margin: 0;

  float: left;

  text-align: left;
  overflow: hidden;

  background-color: white;
  outline: 1px dotted;
}

.top {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.codeImage {
  margin-top: 1.5mm;
  margin-left: 4mm;
  height: calc(100% - 3mm);
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.codeImage img {
  height: 100%;
}

.name {
  font-size: smaller;
  margin: 2mm 10mm 0;
  height: 5mm;
  line-height: 5mm;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.uuid {
  font-size: xx-small;
  margin-top: -5mm;
  margin-left: 22mm;
}