.label {
  /* 210x27mm labels without padding on paper */
  width: 210mm;
  height: 27mm;
  padding: 0;
  margin: 0;

  float: left;

  text-align: left;
  overflow: hidden;

  background-color: white;
  outline: 1px dotted;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.codeImage {
  margin-top: 1.5mm;
  margin-left: 4mm;
  vertical-align: middle;
}

.name {
  margin: 7mm 10mm 0;
  font-size: x-large;
  height: 11mm;
  line-height: 11mm;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.uuid {
  font-size: small;
  margin-top: -6mm;
  margin-left: 38mm;
}