.label {
  /* 70x37mm labels without padding on paper */
  width: 70mm;
  height: 37mm;
  padding: 0;
  margin: 0;

  float: left;

  text-align: center;
  overflow: hidden;

  background-color: white;
  outline: 1px dotted;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30mm;
}

.codeImage {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.name {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-right: 5px;
  height: auto;
  max-height: 25mm;
  overflow: hidden;
}

.uuid {
  display: block;
  font-size: x-small;
}