.label {
  /* 105x74mm labels without padding on paper */
  width: 105mm;
  height: 74mm;
  padding: 0;
  margin: 0;

  float: left;

  text-align: center;
  overflow: hidden;

  background-color: white;
  outline: 1px dotted;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: baseline;
  -ms-flex-pack: baseline;
  justify-content: baseline;
  height: 65mm;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.codeImage {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.name {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: xx-large;
  overflow: hidden;
  height: auto;
  max-height: 45mm;
  margin-left: 5px;
  margin-right: 5px;
}

.uuid {
  display: block;
  font-size: x-small;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 3px;
}