@media only screen {
  html, body {
    /* A4 dimensions */
    background: rgb(204,204,204);
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }

  .labelsContainer {
    display: block;
    background: white;
    width: 297mm;
    height: 210mm;
    margin: 10px;
    padding: 0;
    page-break-after: always;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
}
@page {
  /* A4 dimensions */
  background: white;
  size: 297mm 210mm;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

@media only print {
  html, body {
    /* A4 dimensions */
    background: white;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }
  .labelsContainer {
    width: 297mm;
    height: 210mm;
    margin: 0;
    padding: 0;
    box-shadow: 0;
    page-break-after: auto;
  }
}

.name {
  overflow-wrap: break-word;
}



