@media only screen {
  html, body {
    /* A4 dimensions */
    background: rgb(204,204,204);
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }

  .labelsContainer {
    display: block;
    background: white;
    height: 297mm;
    width: 210mm;
    margin: 10px;
    padding: 0;
    page-break-after: always;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
}
@page {
  /* A4 dimensions */
  background: white;
  size: 210mm 297mm;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

@media only print {
  html, body {
    /* A4 dimensions */
    background: white;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
  }
  .labelsContainer {
    height: 297mm;
    width: 210mm;
    margin: 0;
    padding: 0;
    box-shadow: 0;
    page-break-after: auto;
  }
}

.name {
  overflow-wrap: break-word;
}

.codeImage img {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated;                 /* Chrome                         */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
