<configuration>

  <conversionRule conversionWord="coloredLevel"
                  converterClass="play.api.libs.logback.ColoredLevel"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        [%d{yyyy-MM-dd HH:mm:ss.SSS}] [document] %coloredLevel - %logger{15} - %message%n%xException
      </pattern>
    </encoder>
  </appender>

  <logger name="play" level="WARN"/>
  <logger name="akka" level="ERROR"/>
  <logger name="slick.jdbc" level="OFF"/>

  <!--<logger name="net.scalytica.symbiotic" level="DEBUG"/>-->
  <!--<logger name="net.scalytica.symbiotic.test.specs" level="DEBUG"/>-->
  <!--<logger name="net.scalytica.symbiotic.core.DocManagementService" level="DEBUG"/>-->
  <!--<logger name="net.scalytica.symbiotic.postgres" level="DEBUG"/>-->

  <logger name="Application" level="OFF"/>
  <logger name="no.uio.musit" level="OFF"/>
  <logger name="controllers" level="OFF"/>
  <logger name="services" level="DEBUG"/>
  <logger name="models" level="DEBUG"/>

  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>