<configuration>

  <conversionRule conversionWord="coloredLevel"
                  converterClass="play.api.libs.logback.ColoredLevel"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        [%d{yyyy-MM-dd HH:mm:ss.SSS}] [backend] %coloredLevel - %logger{15} - %message%n%xException
      </pattern>
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT"/>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/service-backend.log</file>
    <encoder>
      <pattern>
        [%d{yyyy-MM-dd HH:mm:ss.SSS}] [backend] [%level] - %logger - %message%n%xException
      </pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/service-backend.%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- keep 30 days' worth of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <logger name="ch.qos.logback" level="ERROR"/>
  <logger name="logger" level="ERROR"/>
  <logger name="slick.jdbc" level="WARN"/>
  <logger name="accesslog" level="INFO"/>
  <logger name="akka.stream.Materializer" level="INFO"/>

  <!-- musit play packages -->
  <logger name="controllers" level="DEBUG"/>
  <logger name="models" level="INFO"/>
  <logger name="modules" level="INFO"/>
  <logger name="repositories" level="DEBUG"/>
  <logger name="services" level="DEBUG"/>

  <!-- musit packages-->
  <logger name="no.uio.musit" level="INFO"/>

  <root level="ERROR">
    <appender-ref ref="ASYNCSTDOUT"/>
    <appender-ref ref="ASYNCFILE"/>
  </root>

</configuration>