@import no.uio.musit.MusitResults.MusitError
@import no.uio.musit.models.MuseumCollection
@import no.uio.musit.security.EncryptedToken
@import no.uio.musit.security.AuthenticatedUser
@import controllers.web.MenuItems
@import play.api.mvc.Flash

@(user: AuthenticatedUser, etok: EncryptedToken, collections: Seq[MuseumCollection], error: Option[MusitError] = None)(implicit flash: Flash)


@main(user, etok, "Collections", activeMenu = MenuItems.Collections) {

  <div class="card">
    <div class="header">
      <h4 class="title">Found @collections.size collections</h4>
    </div>
    <div class="content table-responsive table-full-width">
      @if(error.isEmpty) {
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Collection name</th>
              <th>Old schema names</th>
              <th>UUID</th>
            </tr>
          </thead>
          <tbody>
          @for(col <- collections) {
            <tr onclick="#">
              <td><b>@col.name.getOrElse("-")</b></td>
              <td>
                <ul>
                @for(odbsn <- col.oldSchemaNames.flatMap(_.schemas).distinct) {
                  <li>@odbsn</li>
                }
                </ul>
              </td>
              <td>@col.uuid.asString</td>
            </tr>
          }
          </tbody>
        </table>
      } else {
        <span style="color: red">@error.map(_.message).getOrElse("")</span>
      }
      <span style="color: green">@flash.get("success").getOrElse("")</span>
    </div>
  </div>

}