@import no.uio.musit.security.EncryptedToken
@import no.uio.musit.security.AuthenticatedUser
@import controllers.web.MenuItems

@(user: AuthenticatedUser, etok: EncryptedToken, error: String)

@main(user, etok, "Error", activeMenu = MenuItems.Dashboard) {
  <div class="card">
    <div class="header">
      <h4 class="text-danger">An unexpected error occurred.</h4>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <p>@error</p>
        </div>
      </div>
    </div>
  </div>
}