@import play.api.i18n.Messages
@import controllers.web.routes.GroupController
@import no.uio.musit.models.Museums.museums
@import no.uio.musit.security.EncryptedToken
@import helper._

@(etok: EncryptedToken, form: play.api.data.Form[_], permissions: Seq[(String, String)], modules: Seq[(String, String)])(implicit messages: Messages)

@main(etok, "Add group", activeMenu = 3) {
  <p>
    <a href="@GroupController.groupList()?_at=@etok.urlEncoded">
      Go to group list
    </a>
  </p>
  <div class="card">
    <div class="header">
      <h4 class="title">Add new Group</h4>
    </div>
    <div class="content">
      <form class="form-horizontal" method="POST" action="@GroupController.groupAddPost()?_at=@etok.urlEncoded">
        <div class="row">
          <div class="form-group">
            <div class="row">
              <div class="col-md-offset-1 col-md-5">
                @inputText(
                  field = form("name"),
                  args =
                    'class -> "form-control border-input",
                    '_label -> "Name"
                )
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-1 col-md-2">
                @select(
                  field = form("module"),
                  options = modules,
                  args =
                    'class -> "form-control border-input",
                    '_default -> "-",
                    '_label -> "Module"
                )
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-1 col-md-2">
                @select(
                  field = form("permission"),
                  options = permissions,
                  args =
                    'class -> "form-control border-input",
                    '_default -> "-",
                    '_label -> "Permission"
                )
              </div>
              <div class="col-md-3">
                @select(
                  field = form("museum"),
                  options = museums.map(m => m.id.underlying.toString -> m.shortName),
                  args =
                    'class -> "form-control border-input",
                    '_default -> "-",
                    '_label -> "Museum"
                )
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-1 col-md-5">
                @textarea(
                  field = form("description"),
                  args =
                    'class -> "form-control border-input",
                    'rows -> "3",
                    '_label -> "Description"
                )
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="row">
                <div class="col-md-offset-2 col-md-3">
                  <button class="btn btn-info btn-fill btn-wd" type="submit" name="submit" value="submit">Add group</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
}
