@import models.Group
@import no.uio.musit.MusitResults.MusitError
@import controllers.web.routes.GroupController
@import no.uio.musit.models.MuseumCollection
@import no.uio.musit.models.Email

@(usrCols: Seq[(Email, Seq[MuseumCollection])], group: Group, error: Option[MusitError] = None)

@main(s"Users in ${group.name}", activeMenu = 3) {
  @if(error.nonEmpty) {
    <div class="alert alert-warning">
      <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
      <span><b>@error.map(_.message).getOrElse("")</b></span>
    </div>
  }
  <p>
    <a href="@GroupController.groupList()">Go to group list</a>
  </p>
  <p>
    <a href="@GroupController.groupAddUserGet(group.id.asString)">
      Add new user
    </a>
  </p>
  <div class="card">
    <div class="header">
      <h4 class="title">Found @usrCols.size users in @group.name group</h4>
    </div>
    <div class="content table-responsive table-full-width">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Collections</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
        @for(usrCol <- usrCols) {
          <tr>
            <td>
              <a class="text-primary" href="@GroupController.groupEditUser(group.id.asString, usrCol._1.value)">
                <b><u>@usrCol._1.value</u></b>
              </a>
            </td>
            <td>
              @for(col <- usrCol._2) {
                <div>@col.name</div>
              }
            </td>
            <td>
              <form method="post" action="@GroupController.deleteUser(group.id.asString, usrCol._1.value)">
                <button class="btn btn-fill btn-danger btn-xs" type="submit">
                  <i class="fa fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
}