@import play.api.i18n.Messages
@import no.uio.musit.MusitResults.MusitError
@import no.uio.musit.models.UserGroupMembership
@import no.uio.musit.models.Email
@import no.uio.musit.models.MuseumCollection
@import no.uio.musit.security.EncryptedToken
@import controllers.web.routes.GroupController
@import models.Group

@(etok: EncryptedToken, group: Group, email: Email, memberships: Seq[UserGroupMembership], collections: Seq[MuseumCollection], error: Option[MusitError] = None)(implicit messages: Messages)

@main(etok, s"Edit ${email.value} in${group.name}", activeMenu = 3) {
  <p>
    <a href="@GroupController.groupUserList(group.id.asString)?_at=@etok.asString">
      Go back
    </a>
  </p>
  <div class="card">
    <div class="header">
      <h4 class="title">Edit @email.value in @group.name</h4>
    </div>
    <div class="content">
      <div class="row">
        <div class="form-group">
          <div class="row">
            <div class="col-md-offset-1 col-md-5">
              <dl>
                <dt><label for="email">Email</label></dt>
                <dd>
                  <input id="email" disabled="" name="email" value="@email.value" class="form-control border-input" type="text">
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="form-group">
          @defining(collections.map(c => (c.uuid, c.name.getOrElse(""))).grouped(4)) { grpdCols =>
            <div class="row">
              <div class="col-md-offset-1 col-md-5">
                <label>Collections</label>
                @for(cg <- grpdCols) {
                  <dl id="collections_field">
                    <dt></dt>
                    <dd>
                      <span id="collections" class="buttonset">
                        @for(col <- cg) {
                          @defining(memberships.exists(ugm => ugm.collection.contains(col._1))) { checked =>
                            @if(checked) {
                              <form class="inline-form" id="@col._1.asString" method="POST" action="@GroupController.revokeCollectionAuth(group.id.asString, email.value, col._1.asString)?_at=@etok.asString">
                                <input id="@col._1.asString-input" type="checkbox" class="checkbox-inline" value="@col._1.asString" checked="" onchange='document.getElementById("@col._1.asString").submit()'>
                                <label for="@col._1.asString-input">@col._2</label>
                              </form>
                            } else {
                              <form class="inline-form" id="@col._1.asString" method="POST" action="@GroupController.grantCollectionAuth(group.id.asString, email.value, col._1.asString)?_at=@etok.asString" onchange='document.getElementById("@col._1.asString").submit()'>
                                <input id="@col._1.asString-input" type="checkbox" class="checkbox-inline" value="@col._1.asString">
                                <label for="@col._1.asString-input">@col._2</label>
                              </form>
                            }
                          }
                        }
                      </span>
                    </dd>
                  </dl>
                }
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}