@import controllers.web.routes.GroupController
@import models.Group
@import no.uio.musit.service.MusitResults.MusitError
@import play.api.mvc.Flash

@(groups: Seq[Group], museumId: Int, error: Option[MusitError] = None)(implicit flash: Flash)

@main("Group | List") {
  <h1>All groups</h1>
  <p>
    <a href="@GroupController.groupAddGet(museumId)">
      Add new group
    </a>
  </p>
  <h4>Found @groups.size groups</h4>
  @if(error.isEmpty) {
    <table>
      <tbody>
      @for(group <- groups) {
        <tr>
          <td>
            <a href="@GroupController.groupActorsList(museumId, group.id.asString)">
            @group.name
            </a>
          </td>
          <td>
            <form method="post" action="@GroupController.deleteGroup(museumId, group.id.asString)">
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
      }
      </tbody>
    </table>
  } else {
    <span style="color: red">@error.map(_.message).getOrElse("")</span>
  }
  <span style="color: green">@flash.get("success").getOrElse("")</span>
}
