@import controllers.web.routes.GroupController
@import controllers.web.routes.UserController
@import models.Group
@import no.uio.musit.MusitResults.MusitError
@import no.uio.musit.models.Museums.Museum.fromMuseumId
@import no.uio.musit.security.EncryptedToken
@import no.uio.musit.security.AuthenticatedUser
@import controllers.web.MenuItems
@import play.api.mvc.Flash

@(user: AuthenticatedUser, etok: EncryptedToken, groups: Seq[Group], error: Option[MusitError] = None)(implicit flash: Flash)

@main(user, etok, "Groups", activeMenu = MenuItems.Groups) {
  @if(error.nonEmpty) {
    <div class="alert alert-warning">
      <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
      <span><b>@error.map(_.message).getOrElse("")</b></span>
    </div>
  }
  @flash.get("success").map { f =>
    <div class="alert alert-success">
      <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
      <span><b>@f</b></span>
    </div>
  }
  <p>
    <a href="@GroupController.groupAddGet?_at=@etok.urlEncoded">Add new group</a>
  </p>
  <div class="card">
    <div class="header">
      <h4 class="title">Found @groups.size groups</h4>
    </div>
    <div class="content table-responsive table-full-width">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Group name</th>
            <th>Description</th>
            <th>Museum</th>
            <th>Module</th>
            <th>Permission</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
        @for(group <- groups) {
          <tr>
            <td>
              <b><u>@group.name</u></b>
            </td>
            <td>@group.description</td>
            <td>
              <a class="text-primary" href="@UserController.usersPerModule(group.museumId.underlying)?_at=@etok.urlEncoded">
                @fromMuseumId(group.museumId).map(_.shortName).getOrElse("-")
              </a>
            </td>
            <td>@group.module.toString</td>
            <td>@group.permission.toString</td>
            <td>
              <form method="post" action="@GroupController.deleteGroup(group.id.asString)?_at=@etok.urlEncoded">
                <button class="btn btn-fill btn-danger btn-xs" type="submit">
                  <i class="fa fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
}
