@import no.uio.musit.models.ActorId
@import models.Group
@import no.uio.musit.service.MusitResults.MusitError
@(actors: Seq[ActorId], museumId: Int, group: Group, error: Option[MusitError] = None)

@main("Group | Actors") {
    <h1>Group: @group.name</h1>
    <p>
        <a href="@controllers.web.routes.GroupController.groupList(museumId)">
            Go to group list
        </a>
    </p>
    <p>
        <a href="@controllers.web.routes.GroupController.groupAddUserGet(museumId, group.id.asString)">
            Add new user
        </a>
    </p>
    <h4>Found @actors.size actors</h4>
    <ul>
    @for(actor <- actors) {
        <li>
            @actor.asString
            <form method="post" action="@controllers.web.routes.GroupController.deleteUser(museumId, actor.asString, group.id.asString)">
                <input type="submit" value="Delete" />
            </form>
        </li>
    }
    </ul>
}