@import models.Group
@import no.uio.musit.MusitResults.MusitError
@import controllers.web.routes.GroupController
@import no.uio.musit.models.MuseumCollection
@import no.uio.musit.models.Email

@(usrCols: Seq[(Email, Seq[MuseumCollection])], group: Group, error: Option[MusitError] = None)

@main(s"Users in ${group.name}", activeMenu = 3) {
  <p>
    <a href="@GroupController.groupList()">Go to group list</a>
  </p>
  <p>
    <a href="@GroupController.groupAddUserGet(group.id.asString)">
      Add new user
    </a>
  </p>
  <div class="card">
    <div class="header">
      <h4 class="title">Found @usrCols.size users in @group.name group</h4>
    </div>
    <div class="content table-responsive table-full-width">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Collections</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
        @for(usrCol <- usrCols) {
          <tr>
            <td>@usrCol._1.value</td>
            <td>
              @*
                Should allow for removing access to collection here
              *@
              @for(col <- usrCol._2) {
                <div>
                  <form method="post" action="@GroupController.revokeCollectionAuth(usrCol._1.value, group.id.asString, col.uuid.asString)">
                    <span>@col.name</span>
                    <input type="submit" value="Revoke">
                  </form>
                </div>
              }
            </td>
            <td>
              <form method="post" action="@GroupController.deleteUser(usrCol._1.value, group.id.asString)">
                <input type="submit" value="Remove" />
              </form>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
}