@import no.uio.musit.security.EncryptedToken
@import no.uio.musit.security.AuthenticatedUser
@import models.RegisteredUser
@import controllers.web.MenuItems

@(user: AuthenticatedUser, etok: EncryptedToken, users: Seq[RegisteredUser])

@main(user, etok, "Users", activeMenu = MenuItems.Users) {

  <div class="card">
    <div class="header">
      <h4 class="title">Found @users.size registered users</h4>
    </div>
    <div class="content table-responsive table-full-width">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Feide username</th>
            <th>Has Logged On</th>
            <th>Name</th>
            <th>Email</th>
            <th>Id</th>
          </tr>
        </thead>
        <tbody>
          @for(usr <- users) {
            <tr>
              <td><b>@usr.feideEmail.value</b></td>
              <td>@usr.maybeUserInfo.isDefined</td>
              <td>@usr.maybeUserInfo.flatMap(_.name).getOrElse("-")</td>
              <td>@usr.maybeUserInfo.flatMap(_.email.map(_.value)).getOrElse("-")</td>
              <td>@usr.maybeUserInfo.map(_.id.asString).getOrElse("-")</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}