<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
    </encoder>
  </appender>

  <logger name="akka" level="WARN" />
  <logger name="slick.jdbc" level="WARN"/>
  <logger name="no.uio.musit.microservice.geoLocation" level="INFO" />

  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
